langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
langchain-text-splitters
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
pgvector
fastapi
ipykernel
uvicorn[standard]

pydantic