langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
langchain-text-splitters
langchain-groq
langchain-google-genai
python-dotenv
typesense
pgvector
fastapi
ipykernel
uvicorn[standard]

pydantic

psycopg2
boto3
pgvector
python-multipart
